<form class="form" method="post">
  <div class="field">
    <label class="hidden">Email</label>
    <input type="text" name="email" placeholder="Email" autocapitalize="none">
  </div>

  <div class="field">
    <label class="hidden">Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>

  <div class="field">
    <input type="hidden" name="_csrf" value="<%- csrf %>">
    <input type="submit" class="block button" value="Sign In">
  </div>
</form>
