<form class="form" method="post">
  <div class="field">
    <label for="email" class="hidden">Email Address</label>
    <input type="email" id="email" name="email" placeholder="Email" autocapitalize="none">
  </div>

  <div class="field">
    <label for="password" class="hidden">Password</label>
    <input type="password" id="password" name="password" placeholder="Password">
  </div>

  <div class="field">
    <input type="hidden" name="_csrf" value="<%- csrf %>">
    <input type="submit" class="block button" value="Sign In">
  </div>
</form>
