<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%- title %> | Vapid Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="/dashboard/stylesheets/dashboard.css">
</head>
<body class="auth">
  <main>
    <div>
      <%- include('../flash') %>
      <%- include(`../${yield}`) %>
    </div>
  </main>

  <a href="https://www.vapid.com" class="logo">
    <%- include('../../assets/dashboard/images/logo.svg') %>
  </a>
</body>
</html>