<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- title %> | Vapid Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="/dashboard/stylesheets/dashboard.css">
</head>
<body class="auth">
  <main>
    <%- include('../logo.svg') %>
    <%- include('../flash') %>
    <%- include(`../${yield}`) %>
  </main>
</body>
</html>