<% if (section.hasFields) { %>
<form class="form" action="<%- action %>" method="post" enctype="multipart/form-data" data-autosave="true" novalidate>
  <% for (let fieldName in section.fields) { %>
    <%- Form.field(`content[${fieldName}]`, fieldName, section.fields[fieldName], record.content[fieldName], errors.hasOwnProperty(fieldName) && errors[fieldName]) %>
  <% } %>

  <div class="submit field">
    <input type="hidden" name="_csrf" value="<%- csrf %>">
    <input class="button" type="submit" value="Save">
  </div>
</form>
<% } else { %>
  <p>This section has no fields. View the <a href="https://docs.vapid.com" title="Vapid documentation">documentation</a> if you need help creating some.</p>
<% } %>