<form class="form" action="https://formspree.io/<%- recipient %>" method="post">
  <% for (let fieldName in fields) { %>
    <%- Form.field(fieldName, fieldName, fields[fieldName]) %>
  <% } %>

  <div class="submit field">
    <input type="hidden" name="_subject" value="<%- subject %>" />
    <input type="hidden" name="_next" value="<%- next %>" />
    <input type="text" name="_gotcha" style="display:none">
    <input class="button" type="submit" value="Submit">
  </div>
</form>
