<h1 class="heading"><%- title %></h1>

<section class="section">
  <div class="content">
    <%- include(`_form_${form}`) %>

    <% if (form == 'email') { %>
      <p><em>Note: This preview form is styled using Semantic UI, and may not resemble the one rendered on your site.</em></p>
    <% } %>    
  </div>
</section>
