<h1 class="heading">
  <%- include('../toggle') %>
  <%- title %>
</h1>

<section class="section">
  <div class="content">
    <%- include(`_form_${form}`) %>

    <% if (form == 'email') { %>
      <br>
      <p><em>Note: This preview form may not resemble the one rendered on your site.</em></p>
    <% } %>  
  </div>
</section>
