<!DOCTYPE html>
<html lang="en">
<head>
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/dashboard/vendor/semantic-ui/semantic.min.css">
  <link rel="stylesheet" href="/dashboard/stylesheets/dashboard.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="error">
  <main>
    <h1 class="ui large header">Page Not Found</h1>
    <p>Sorry, the page you were looking for does not exist.</p>
    <p><a href="/" class="ui basic button">Return to Home</a></p>
  </main>
</body>
</html>
