<!DOCTYPE html>
<html lang="en">
<head>
  <title>Internal Server Error</title>
  <link rel="stylesheet" href="/dashboard/vendor/semantic-ui/semantic.min.css">
  <link rel="stylesheet" href="/dashboard/stylesheets/dashboard.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="error">
  <main>
    <h1 class="ui large header">Internal Server Error</h1>
    <p>Sorry, the server is currently unavailable to handle this request. We've been notified, and should have things fixed soon.</p>
  </main>
</body>
</html>
