{{#error}}
<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/dashboard/vendor/semantic-ui/semantic.min.css">
  <style type="text/css">
    .ui.vertical.segment {
      padding-left: 1rem;
    }
  </style>
</head>
<body class="trace error">
  <div class="ui inverted vertical segment">
    <h1 class="ui huge header">{{title}} ({{status}})</h1>
    <pre><code>{{stack}}</code></pre>
  </div>

  <div class="ui vertical segment">
    <table class="ui very basic table">
      <tbody>
        {{#request}}
        <tr>
          <td class="collapsing">Method</td>
          <td>{{method}}</td>
        </tr>
        <tr>
          <td>URL</td>
          <td>{{url}}</td>
        </tr>
        {{/request}}
      </tbody>
    </table>
  </div>
</body>
</html>
{{/error}}