.ui.form {
  margin-bottom: 2rem;

  .field {
    > small {
      color: #666;
    }

    &.error {
      trix-editor,
      .ace_editor,
      .previewable {
        background-color: #fff6f6;
        border-color: #e0b4b4;
      }

      > small {
        color: #9f3a38
      }
    }
  }

  .ui.checkbox {
    display: block;
    margin-bottom: 0.5rem;

    &:after {
      display: none;
    }
  }

  div.previewable {
    padding: 1em;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0.28571429rem;

    input:first-of-type {
      padding: 0;
      border: 0;
    }

    .preview {
      display: block;
      margin: 1rem 0;
      max-width: 150px;
      max-height: 150px;
    }
  }
}
