.sidebar {
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  background: $grey-lightest;
  overflow: scroll;

  > div:first-child {
    flex: auto;

    > .item {
      margin-bottom: 2rem;
    }
  }

  > div:last-child {
    width: $sidebar-width - 0.1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;

    .account {
      display: block;
      margin-bottom: 1.5rem;
      color: $grey-darkest;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      img {
        display: block;
        content: '';
        width: 5rem;
        height: 5rem;
        margin: 0 auto 1rem;
        background: black;
        border-radius: 100%; 
      }
    }

    .vapid {
      display: block;
      padding: 1.6rem 2rem 1.4rem;
      margin-top: 2rem;
      border-top: 1px solid $grey-lighter;

      svg {
        width: 5.2rem;

        path {
          fill: $grey-dark;
        }
      }

      &:hover svg path {
        fill: $grey-darkest;
      }
    }
  }

  .header {
    padding: 2rem 2rem 1.9rem;
    font-weight: 600;
    line-height: 1.142857142857143em;
  }

  .menu {
    .item {
      position: relative;
      display: block;
      padding: 1.5rem 2rem 1.3rem 4.5rem;
      text-decoration: none;
      color: $grey-dark;

      svg {
        position: absolute;
        top: 50%;
        left: 2rem;
        margin-top: -1rem;

        g {
          stroke: $grey-dark;
        }
      }

      &:hover,
      &.active {
        color: $grey-darkest;

        g {
          stroke: $grey-darkest;
        }
      }

      &.active {
        background-color: $grey-lighterer;
      }
    }
  }
}
